model_config_list {
    config {
        name: 'potato_model'
        base_path: '/models/potato'
        model_platform: 'tensorflow'
        model_version_policy: {all: {}}
    }
    config {
        name: 'tomato_model'
        base_path: '/models/tomato'
        model_platform: 'tensorflow'
        model_version_policy: {all: {}}
    }
    config {
        name: 'pepperbell_model'
        base_path: '/models/pepperbell'
        model_platform: 'tensorflow'
        model_version_policy: {all: {}}
    }
    config {
        name: 'strawberry_model'
        base_path: '/models/strawberry'
        model_platform: 'tensorflow'
        model_version_policy: {all: {}}
    }
    config {
        name: 'peach_model'
        base_path: '/models/peach'
        model_platform: 'tensorflow'
        model_version_policy: {all: {}}
    }
    config {
        name: 'apple_model'
        base_path: '/models/apple'
        model_platform: 'tensorflow'
        model_version_policy: {all: {}}
    }
    config {
        name: 'grape_model'
        base_path: '/models/grape'
        model_platform: 'tensorflow'
        model_version_policy: {all: {}}
    }
    config {
        name: 'cherry_model'
        base_path: '/models/cherry'
        model_platform: 'tensorflow'
        model_version_policy: {all: {}}
    }
    config {
        name: 'corn_model'
        base_path: '/models/corn'
        model_platform: 'tensorflow'
        model_version_policy: {all: {}}
    }
}